import /init.u8500.rc

on init

    # Janice uses preload as swap partition so this is codina specific
    mkdir /preload 0771 system system

on post-fs-data

    # Permissions for NFC
    setprop ro.nfc.port "I2C"
    chmod 0600 /dev/pn544
    chown nfc nfc /dev/pn544

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

on boot

# GPS
    mkdir /data/gps 771 system system
    chown system system /data/gps

service gpsd /system/bin/gpsd -c /system/etc/gps.xml
    class main
    user gps
    group system inet net_raw
    ioprio be 0
